<% provide :title, t(".home") %>
<!-- home section -->
<section id="home" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1><%= t ".logo" %></h1>
        <h2><%= t ".slogan" %></h2>
        <%= link_to t(".signup"), new_user_registration_path,  class: "btn btn-default" %>
      </div>
    </div>
  </div>
</section>
<!-- gallery section -->
<section id="gallery" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
        <h1 class="heading"><%= t".food_gallery" %></h1>
        <hr>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
      </div>
    </div>
  </div>
</section>
<!-- menu section -->
<section id="menu" class="parallax-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
<!-- team section -->
<section id="team" class="parallax-section">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>

